body {
  font-size: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  background-color: rgb(5, 112, 76);
  height: 3em;
  grid-column-start: 1;
  grid-column-end: 5;
}

nav {
  background-color: hsla(27, 100%, 50%, 0.918);
  grid-column-start: 1;
  grid-column-end: 5;
}

main {
  background-color: rgba(255, 255, 0, 0.5);
  height: 10em;
  grid-column-start: 2;
  grid-column-end: 5;
}

aside {
  background-color: rgb(162, 0, 255);
  height: 3em;
  height: 100%;
}

section {
  background-color: lightgray;
  width: 90%;
  height: 2em;
  margin: 0.7em auto;
}

footer {
  background-color: blue;
  height: 3em;
  grid-column-start: 1;
  grid-column-end: 5;
}

@media only screen and (max-width: 400px) {
  body {
    text-align: center;
  }

  aside {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  main {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
